@font-face {
    font-family: 'roboto';
    src: url('./Roboto-Regular.ttf') format("truetype");
}

@font-face {
    font-family: 'roboto';
    src: url('./Roboto-Bold.ttf') format("truetype");
    font-weight: bold;
}

* {
    font-family: roboto;
    color: white;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #181a1b;
    margin: 0;
    height: 100vh;
}
form{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

input, select{
    margin-bottom: 1rem;
    &[type=number]{
        text-align: end;
    }
}

form:not(.active){
    display: none;
}

#result p{
    display: flex;
    flex-direction: column;
}

input:not([type="submit"]), select {
    border: none;
    border-bottom: 2px solid #333;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    background-color: transparent;
    &:focus {
        border-bottom: 2px solid #0288d1;
        outline: none;
    }
}

button, input[type="submit"] {
    background-color: #0288d1;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
        background-color: #03a9f4;
    }
}
